body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    background: #333;
    color: rgba(255, 255, 255, 0.362);
    padding: 10px;
    padding-left: 20px;
}

.container {
    width: 50%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.task-input {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.task-input input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-input button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
}

.task-text {
    flex-grow: 1;
    margin-left: 10px;
}

input[type="checkbox"] {
    transform: scale(1.2);
}




.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.delete-btn:hover{
    background-color: #edeef0;
}

.completed {
    text-decoration: line-through;
}

h3{
    font-size: 30px;

}
